---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
 
  <Hero
  >
    <Fragment slot="subtitle">
      “Görevimizi yaparken kimseye, ne müvekkile ne hakime, hele ne de iktidara tabiyiz. 
      Bizim aşağımızda kişilerin varlığı iddiasında değiliz. Fakat hiçbir hiyerarşik üst de tanımıyoruz. 
      En kıdemsizin en kıdemliden veya isim yapmış olandan farkı yoktur. 
      Avukatlar tarih boyunca köle kullanmadılar ama hiçbir zaman efendileri de olmadı!” 
      <span class="hidden sm:inline">
      <span class="font-semibold">Jean Moliérac</span></span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Felsefemiz:" description="Sorun değil çözüm üretiyoruz." />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="FAALİYET ALANLARIMIZ"
    subtitle=""
    items={[
      {
        title: 'Aile Hukuku',
        description:
          'Aile içi ilişkilerde yaşanan anlaşmazlıkları hukuki zeminde çözüme kavuşturmayı hedefler. Boşanma davaları, nafaka, velayet, mal paylaşımı gibi konular bu kapsamda ele alınır. Ayrıca, aile içi arabuluculuk hizmeti ile anlaşmazlıkların dostane çözümü sağlanabilir.',
        icon: '',
      },
      {
        title: 'İş ve Sosyal Güvenlik Hukuku',
        description:
          'İşçi ve işveren arasındaki anlaşmazlıkların hukuki yollarla çözüme kavuşturulmasını amaçlar. İşe iade davaları, tazminat talepleri ve iş sözleşmesi ile ilgili diğer ihtilaflar bu alanda değerlendirilmektedir. Aynı zamanda iş hukuku konusunda arabuluculuk hizmeti ile hızlı ve ekonomik çözümler sunulur.',
        icon: '',
      },
      {
        title: 'Ticaret Hukuku',
        description:
          'Ticari şirketler ve bireyler arasındaki ticari anlaşmazlıklar ve ticaret işlemlerini düzenleyen hukuki hizmetler sunulur. Şirketler hukuku, ticari sözleşmelerin hazırlanması ve uyuşmazlıkların çözümü bu kapsamdadır. Ticari arabuluculuk hizmetleri ile taraflar arasındaki uyuşmazlıklar hızlı ve dostane bir şekilde çözülebilir.',
        icon: '',
      },
      {
        title: 'Gayrimenkul Hukuku',
        description:
          "Gayrimenkul alım satımı, kiralama, ipotek, mülkiyet hakkı ve diğer gayrimenkul işlemleri ile ilgili hukuki destek sağlanır. İhtilaflar söz konusu olduğunda dava yoluyla ya da arabuluculuk süreciyle çözüm önerilir.",
        icon: '',
      },
      {
        title: 'İcra ve İflas Hukuku',
        description:
          'Alacaklı ve borçlu arasındaki alacakların tahsili ve iflas durumunda şirketlerin mal varlıklarının tasfiyesi konularında hukuki hizmetler sunulmaktadır. Aynı zamanda, icra takip süreçleri ve iflas erteleme işlemleri de bu kapsamda yer alır.',
        icon: '',
      },
      {
        title: 'Ceza Hukuku',
        description:
          'Ceza hukuku kapsamına giren her türlü suç ve suçlama karşısında bireylere ve şirketlere hukuki danışmanlık ve savunma hizmeti sağlanır. Ceza davaları, soruşturma süreçleri ve savunma hazırlığı bu alanda verilen hizmetlerdir.',
        icon: '',
      },
      {
        title: 'Tüketici Hukuku',
        description:
          'Tüketicilerin haklarını koruyan hukuki düzenlemeler çerçevesinde, tüketici ve satıcı arasındaki anlaşmazlıklar ele alınır. Ayıplı mal ve hizmetler, garanti kapsamındaki talepler, cayma hakkı gibi konular tüketici hukuku kapsamında değerlendirilir.',
        icon: '',
      },
      {
        title: 'Sözleşmeler Hukuku',
        description:
          'Taraflar arasında yapılan ticari ya da bireysel sözleşmelerin hazırlanması, incelenmesi ve uyuşmazlıkların çözümü konularında hukuki hizmet sunulur. Ayrıca, sözleşmelerde ortaya çıkan ihtilaflar için arabuluculuk süreciyle hızlı ve etkili çözüm önerileri sağlanır.',
        icon: '',
      },
      {
        title: 'Miras Hukuku',
        description:
          'Miras bırakanın mal varlığının yasal mirasçılarına geçişi ve mirasla ilgili her türlü anlaşmazlığın çözümünde hukuki danışmanlık verilir. Miras paylaşımı, vasiyetname düzenleme ve miras davaları bu kapsamda ele alınır. Arabuluculuk yoluyla miras paylaşımı gibi konularda da dostane çözüm imkânı sunulmaktadır.',
        icon: '',
      },
      {
        title: 'Kira Hukuku',
        description:
          'Kiracı ve kiraya veren arasındaki uyuşmazlıklar, kira sözleşmelerinin hazırlanması ve feshi, tahliye davaları gibi kira hukukuyla ilgili tüm konularda hukuki destek verilmektedir. Ayrıca kira ihtilaflarında arabuluculuk hizmeti ile taraflar arasındaki sorunlar dostane bir şekilde çözüme kavuşturulabilir.',
        icon: '',
      },
      {
        title: 'Vergi Hukuku',
        description:
          'Vergi mükelleflerinin devletle olan ilişkilerini düzenleyen hukuki hizmetler sunulur. Vergi incelemeleri, cezalar ve uyuşmazlıkların çözümü bu kapsamda ele alınır. Arabuluculuk yoluyla vergi ihtilaflarının çözümünde de taraflara destek sağlanır.',
        icon: '',
      },
      {
        title: 'Bilişim Hukuku',
        description:
          'Dijital dünyada işlenen suçlar, veri güvenliği, kişisel verilerin korunması, elektronik ticaret gibi konularla ilgili hukuki danışmanlık ve dava hizmeti sunulur. Bilişim dünyasındaki ihtilaflar, arabuluculuk süreci ile dostane bir şekilde çözüme kavuşturulabilir.',
        icon: '',
      },
      {
        title: 'Arabuluculuk Hizmetleri',
        description:
          'Mahkemeye gitmeden önce ya da mahkeme sürecine alternatif olarak, taraflar arasındaki ihtilafların dostane bir şekilde çözümünü amaçlayan arabuluculuk hizmetleri sunulmaktadır. Arabuluculuk, ticari, ailevi, işçi-işveren ve kira gibi birçok alanda etkili bir çözüm yöntemi olarak kullanılmaktadır.',
        icon: '',
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="EKİBİMİZ"
    title="Uzman Kadromuz İle Tanışın!"
    items={[
      {
        title: 'Uzmanlık Alanlarında Derin Bilgi',
        description:
          'Müvekkillere ceza hukuku, aile hukuku ve ticaret hukuku başta olmak üzere çeşitli alanlarda etkin, güncel ve güvenilir hukuki çözümler sunulmaktadır.',
      },
      {
        title: 'Etik ve Mesleki Sorumluluk',
        description:
          'Avukatlık mesleğinin temelini oluşturan etik kurallar ve gizlilik ilkesi doğrultusunda, her dosyada titizlikle ve sorumluluk bilinciyle hareket edilmektedir.',
      },
      {
        title: 'Hak Arama Özgürlüğünün Teminatı',
        description:
          'Müvekkillerin adil yargılanma hakkı ve hukuki güvenceleri gözetilerek, yasal süreçlerin her aşamasında etkin temsil sağlanmaktadır.',
      },
    ]}
    image={{
      src: '~/assets/images/law1.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Av. Ömer Oral</h3>
      Kurucu Avukat
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Bireyselleştirilmiş Hukuki Danışmanlık',
        description: `Her müvekkilin özel ihtiyaçlarına uygun, çözüm odaklı ve kişiselleştirilmiş hukuki danışmanlık hizmetleri sunulmaktadır.`,
      },
      {
        title: 'Kadın Hakları ve Aile Hukukunda Duyarlı Yaklaşım',
        description:
          'Kadın hakları, boşanma, velayet ve nafaka gibi aile hukukuna dair hassas konularda duyarlı, çözüm odaklı ve müvekkil yararını gözeten bir hizmet anlayışı benimsenmektedir.',
      },
      {
        title: 'Alternatif Uyuşmazlık Çözüm Yöntemleri',
        description:
          "Dava yoluna başvurmadan önce arabuluculuk ve uzlaşma gibi alternatif uyuşmazlık çözüm yolları değerlendirilerek, hızlı ve etkili sonuçlar elde edilmesi hedeflenir.",
      },
      {
        title: 'Stratejik Dava ve Süreç Yönetimi',
        description:
          'Uyuşmazlıkların etkin şekilde yönetilmesi amacıyla, dava süreçlerinde stratejik planlama ve özenli takip ön planda tutulur.',
      },
    ]}
    image={{
      src: '~/assets/images/law0.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Av. Rumeysa Tama Oral</h3>
      Kurucu Avukat
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Miyav Miyav',
        description:
          '',
      }
    ]}
    image={{
      src: '~/assets/images/cat.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Avucat Suzi</h3>
      Kurucu Kedi
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Yayınlarımız"
    information={`
                `}
  />
  
</Layout>
